.sabanas-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: none;

  border-radius: 8px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ocupar toda la altura de la pantalla */
  text-align: center;
}
.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  color: black;
}

.botones-container {
  margin-top: 80px;
}

.boton-enlace {
  width: 55%;
  margin-top: 15px;
  padding: 30px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 30px;
}

.boton-enlace:hover {
  color: #111111;
}
