body {
  background-image: url(./assets/Presentación1.png);
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra toda la pantalla */
}
